[submodule "tailornet_for_garmentor"]
	path = tailornet_for_garmentor
	url = https://github.com/kristijanbartol/tailornet_for_garmentor.git
[submodule "tailornet_dataset_for_garmentor"]
	path = tailornet_dataset_for_garmentor
	url = https://github.com/kristijanbartol/tailornet_dataset_for_garmentor
[submodule "lsun_for_garmentor"]
	path = lsun_for_garmentor
	url = https://github.com/jufi2112/lsun_for_garmentor
[submodule "smplx"]
	path = smplx
	url = https://github.com/vchoutas/smplx
[submodule "agora_for_garmentor"]
	path = agora_for_garmentor
	url = https://github.com/kristijanbartol/agora_for_garmentor.git
[submodule "frankmocap"]
	path = frankmocap
	url = https://github.com/kristijanbartol/frankmocap.git
[submodule "drapenet_for_garmentor"]
	path = drapenet_for_garmentor
	url = https://github.com/kristijanbartol/drapenet_for_garmentor.git
